@using CoderHive.Services;
@using CoderHive.Enums;
@using Microsoft.AspNetCore.Identity;

@inject IImageService imageService;
@inject UserManager<BlogUser> userManager;

@model CoderHive.Models.Post

@{
    ViewData["Title"] = "Details";
    var counter = 0;
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@imageService.DecodeImage(Model.ImageData,Model.ImageType)'); background-position: center;">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">Don’t assume your user data in the cloud is safe</h1>
                    <div class="post-meta align-items-center text-center">
                        <a asp-controller="Posts" asp-action="Index" asp-route-id="@Model.BlogId" class="text-light fw-bolder fs-6">
                            <figure class="author-figure mb-0 me-3 d-inline-block"><img src="@imageService.DecodeImage(Model.Blog.ImageData,Model.Blog.ImageType)" alt="Image" class="img-fluid"></figure>
                            <span class="d-inline-block mt-1">From The Blog&nbsp;-&nbsp; </span>
                            <span>@Model.Blog.Name</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">

                <div class="post-content-body">
                    @Html.Raw(Model.Content)
                </div>

                <ul class="tags">
                    @foreach (var tag in Model.Tags)
                    {
                        var tagText = (tag.Text is null) ? "" : tag.Text.ToLower();
                        <li> <a asp-action="TagIndex" asp-route-tag="@tagText">#@tagText</a></li>
                    }
                </ul>

                <div class="pt-5 comment-wrap" id="commentSection">
                    <h4 class="heading"> @Model.Comments.Count Comments</h4>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="comment-form-wrap">
                            @* <h3 class="mb-5">Leave a comment</h3> *@
                            <form asp-action="Create" asp-controller="Comments" method="post" class="p-5 bg-light">
                                @Html.Hidden("PostId",Model.Id)
                                <div class="form-group">
                                    <label for="message">Leave a comment</label>
                                    <textarea name="body" id="body" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="comment-form-wrap">
                            <a class="btn btn-block btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnurl="@($"{Context.Request.Path}#commentSection")">Login to Add Comments</a>
                        </div>
                    }
                    <div>
                        <ul class="comment-list pt-3">
                            @foreach (var comment in Model.Comments)
                            {
                                <li class="comment">
                                    <div class="vcard">
                                        <img src="/images/person_4.jpg" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>@comment.Author.FullName</h3>
                                        @if(comment.Moderated is not null)
                                        {
                                            <div class="meta">
                                                <span class="fw-bolder">Moderated
                                                    <span class="text-danger fs-italic">(@comment.ModerationType.ToString().ToLower())</span>
                                                    :: @comment.Moderated?.ToString("MMMM dd,yyyy")
                                                </span>
                                            </div>
                                            <p>@comment.ModeratedBody</p>
                                        }
                                        else
                                        {
                                            <div class="meta">Posted on @comment.Created.ToString("MM dd, yyyy")</div>
                                            <p>@comment.Body</p>
                                        }
                                        @*Begin Optional Comment Buttons*@
                                        <div class="row">
                                            @*If Logged-in User is the Commment's Author & etc provide an Edit button*@
                                            @if(comment.Moderated is null && comment.Deleted is null && comment.AuthorId == userManager.GetUserId(User))
                                            {
                                                <div class="col-2">
                                                    <button data-bs-toggle="modal" data-bs-target="@($"#editModal{counter}")" class="reply rounded border-0">Edit</button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-2">
                                                    <button href="#" class="reply rounded border-0">Reply</button>
                                                </div>
                                            }

                                            @*If the Logged in User is a Moderator, present with a "Moderate" option*@
                                            @if(User.IsInRole(BlogRole.Moderator.ToString()) && comment.Deleted is null) 
                                            {
                                                <span hidden>@(comment.ModeratedBody = comment.Body)</span>
                                                <div class="col-2">
                                                    @* <button class="btn btn-dark fw-bold btn-block" data-bs-toggle="modal" data-bs-target="@($"#moderateModal{counter}")">Moderate</button> *@
                                                    <button class="reply rounded border-0" data-bs-toggle="modal" data-bs-target="@($"#moderateModal{counter}")">Moderate</button>
                                                </div>
                                                <div class="col-2">
                                                    <form asp-action="Delete" asp-controller="Comments">
                                                        @Html.Hidden("Id",comment.Id)
                                                        @Html.Hidden("Slug",comment.Post.Slug)
                                                        @* <button class="btn-sm btn-dark fw-bold btn-block">Delete</button> *@
                                                        <button type="submit" class="reply rounded border-0">Delete</button>
                                                    </form>
                                                </div>
                                            }
                                        </div>

                                        @*Modals*@
                                        @*Edit Comment Modal*@
                                        <div class="modal" id="@($"editModal{counter}")">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Editing Comment...</h4>
                                                    </div>
                                                    <!-- Modal Body -->
                                                    <div class="modal-body">
                                                        <form asp-action="Edit" asp-controller="Comments">
                                                            @Html.Hidden("Id",comment.Id)
                                                            <div class="form-group">
                                                                <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                                                                <button type="submit" class="reply rounded border-1">Update</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- Modal Footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="reply rounded border-1" data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*Moderate Comment Modal*@
                                        <div class="modal" id="@($"moderateModal{counter}")">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Moderating Comment...</h4>
                                                    </div>
                                                    <!-- Modal Body -->
                                                    <form asp-action="Moderate" asp-controller="Comments">
                                                        <div class="modal-body">
                                                            @Html.Hidden("Id",comment.Id)
                                                            @Html.Hidden("Body",comment.Body)
                                                            <!-- Original Comment -->
                                                            <div class="form-group">
                                                                <label class="control-label">Original Comment</label>
                                                                <textarea disabled class="form-control" style="resize: none">@comment.Body</textarea>
                                                            </div>
                                                            <!-- Moderated Comment-->
                                                            <div class="form-group">
                                                                <label class="control-label">Moderated Comment</label>
                                                                <textarea required name="ModeratedBody" class="form-control">@comment.ModeratedBody</textarea>
                                                            </div>
                                                            <!-- Reason for Moderation -->
                                                            <div class="form-group">
                                                                <label class="control-label">Reason for Moderation</label>
                                                                <select class="form-control" asp-for="@comment.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                                                                <button class="reply rounded border-1" type="submit">Save Changes</button>
                                                            </div>
                                                        </div>
                                                        <!-- Modal Footer -->
                                                        <div class="modal-footer">
                                                            <!-- Buttons -->
                                                            <button class="reply rounded border-1" type="button" data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                counter++;
                            }
                        </ul>
                    </div>
                    <!-- END comment-list -->
                </div>
            </div>
            <!-- END main-content -->

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="sidebar-search-form">
                        <span class="bi-search"></span>
                        <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                    </form>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="/images/person_2.jpg" alt="Image Placeholder" class="img-fluid mb-3">
                        <div class="bio-body">
                            <h2>Hannah Anderson</h2>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                            <p><a href="#" class="btn btn-primary btn-sm rounded px-2 py-2">Read my bio</a></p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="/images/img_1_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END sidebar-box -->
            </div>
            <!-- END sidebar -->
        </div>
    </div>
</section>


<!-- Start posts-entry -->
<section class="section posts-entry posts-entry-sm bg-light">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 text-uppercase text-black">More Blog Posts</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="blog-entry">
                    <a href="single.html" class="img-link">
                        <img src="/images/img_1_horizontal.jpg" alt="Image" class="img-fluid">
                    </a>
                    <span class="date">Apr. 14th, 2022</span>
                    <h2><a href="single.html">Thought you loved Python? Wait until you meet Rust</a></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p><a href="#" class="read-more">Continue Reading</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="blog-entry">
                    <a href="single.html" class="img-link">
                        <img src="/images/img_2_horizontal.jpg" alt="Image" class="img-fluid">
                    </a>
                    <span class="date">Apr. 14th, 2022</span>
                    <h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p><a href="#" class="read-more">Continue Reading</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="blog-entry">
                    <a href="single.html" class="img-link">
                        <img src="/images/img_3_horizontal.jpg" alt="Image" class="img-fluid">
                    </a>
                    <span class="date">Apr. 14th, 2022</span>
                    <h2><a href="single.html">UK sees highest inflation in 30 years</a></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p><a href="#" class="read-more">Continue Reading</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="blog-entry">
                    <a href="single.html" class="img-link">
                        <img src="/images/img_4_horizontal.jpg" alt="Image" class="img-fluid">
                    </a>
                    <span class="date">Apr. 14th, 2022</span>
                    <h2><a href="single.html">Don’t assume your user data in the cloud is safe</a></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p><a href="#" class="read-more">Continue Reading</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End posts-entry -->







































@* <h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abstract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blog.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<form asp-controller="Comments" asp-action="Create">

</form>
 *@